<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Доступные кошельки</title>
<link href="/css/mainstyle.css" rel="stylesheet" type="text/css">
<link href="/css/wallets.css" rel="stylesheet" type="text/css">
<script src="/js/Wallets.js"></script>
</head>
<body>
	<div class="wrapper jcc">
		<div class="container jcc">

			<div class="wallets">
				<div class="wallets-bar">
					<div class="titles">Доступные кошельки</div>
					<button onclick="visiblePopup(true)" class="wallets-setting">
						<img src="/icons/settings.svg" alt="setting" class="icon">
					</button>
					<a href="/wallet/new" class="wallets-create"> <img
						src="/icons/create.svg" alt="create" class="icon">
					</a>
				</div>

				<div class="wallet" th:each="wallet: ${wallets}">
					<a th:href="@{/wallet/{id}(id=${wallet.getId()})}" class="button">
						<div class="wallet-name" th:text="${wallet.getName()}">WalletName</div>
						<div class="wallet-balance" th:text="${wallet.getBalance()}"></div>
					</a>
					<div class="wallet-update">
						<a th:href="@{/wallet/{id}/edit(id=${wallet.getId()})}"> <img
							alt="update" src="/icons/update.svg" class="icon">
						</a>
						<form th:method="DELETE"
							th:action="@{/wallet/{id}(id=${wallet.getId()})}"
							class="wallet-remove">
							<button type="submit">
								<img src="/icons/delete.svg" alt="delete" class="icon">
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="popup" id="popup">
		<div class="popup-content jcc">
			<div class="popup-bar">
				<div class="popup-bar-name">Настройки</div>
				<button class="popup-bar-cancel" onclick="visiblePopup(false)">
					<img src="/icons/cancel.svg" alt="cancel" class="icon">
				</button>
			</div>
			<a class="option" href="/transactioncategory">Категории</a>
		</div>
	</div>
</body>
</html>