<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${wallet.getName()}">walletName</title>
<link href="/css/mainstyle.css" rel="stylesheet" type="text/css">
<link href="/css/walletview.css" rel="stylesheet" type="text/css">
<script src="/js/WalletView.js"></script>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<form id="deleteFilter" method="post"
				action="/wallet/filter?action=delete"></form>
			<div class="row">
				<div class="general-statistic">
					<div class="col">
						<div class="wallet">
							<div class="wallet-info">
								<div class="wallet-name" th:text="${wallet.getName()}">walletName</div>
								<div class="balance" th:text="|Баланс: ${wallet.getBalance()}|">balance</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="cash-info">
							<div class="cash-parms">
								<div class="parm">Денежный поток</div>
								<div class="value"
									th:text="${wallet.getIncome().subtract(wallet.getExpenses())}">CashFlow</div>
							</div>
							<div class="line"></div>
							<div class="cash-parms green">
								<div class="parm">Доход</div>
								<div class="value" th:text="${wallet.getIncome()}">Income</div>
							</div>
							<div class="income-bar" th:style="'width: ' + ${incomePercent}"></div>
							<div class="cash-parms red">
								<div class="parm">Расход</div>
								<div class="value" th:text="${wallet.getExpenses()}">Expenses</div>
							</div>
							<div class="expenses-bar"
								th:style="'width: ' + ${expensesPercent}"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="transactions">
					<div class="tool-bar">
						<button type="button" class="down" id="collapsible">
							<svg fill="#FFF" width="30px" height="30px" viewBox="0 0 56 56"
								class="icon" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M 9.9647 50.2070 L 46.0351 50.2070 C 50.0195 50.2070 52.5040 47.3476 52.5040 43.7383 C 52.5040 42.6601 52.2227 41.5586 51.6367 40.5508 L 33.5663 9.0742 C 32.3476 6.9414 30.2147 5.7930 28.0116 5.7930 C 25.8319 5.7930 23.6757 6.9414 22.4335 9.0742 L 4.3632 40.5742 C 3.7772 41.5820 3.4960 42.6601 3.4960 43.7383 C 3.4960 47.3476 6.0038 50.2070 9.9647 50.2070 Z M 10.0116 46.5273 C 8.3710 46.5273 7.2929 45.1914 7.2929 43.7383 C 7.2929 43.3164 7.3632 42.8242 7.5976 42.3320 L 25.6444 10.8554 C 26.1600 9.9648 27.0976 9.5430 28.0116 9.5430 C 28.9257 9.5430 29.8163 9.9414 30.3319 10.8554 L 48.3789 42.3555 C 48.6131 42.8242 48.7303 43.3164 48.7303 43.7383 C 48.7303 45.1914 47.6051 46.5273 45.9882 46.5273 Z" />
							</svg>
						</button>
						<a th:href="@{/transaction/new?wallet_id={id}(id=${wallet.getId()})}" class="transaction-create"> <img
							src="/icons/create.svg" alt="create" class="icon">
						</a>
					</div>
					<form method="post" action="/wallet/filter?action=create"
						class="filters" id="filters">
						<div class="filters-row">
							<div class="filters-col">
								<div class="min-width">
									<label for="selectTransactionType">Тип</label> <select
										name="type" id="selectTransactionType"
										onchange="changeTransactionType(this)">
										<option disabled selected hidden id="placeholderType">Тип</option>
										<option id="nullType"></option>
										<option value="INCOME" class="green">Доход</option>
										<option value="EXPENSES" class="red">Расход</option>
									</select>
								</div>
							</div>
							<div class="filters-col">
								<div class="min-width">
									<label for="selectTransactionCategory">Категория</label> <select
										name="category" id="selectTransactionCategory"
										onchange="changeTransactionCat(this)">
										<option disabled selected hidden id="placeholderCat">Категория</option>
										<option id="nullCat"></option>
										<option th:each="category : ${categories}"
											th:id="${category.getId()}" th:value="${category.getName()}"
											th:text="${category.getName()}"></option>
									</select>
								</div>
							</div>
						</div>
						<div class="filters-row">
							<div class="filters-col">
								<div class="temp">
									<label for="minSum">Минимальная сумма</label> <input
										type="number" step="0.01" name="minSum" id="minSum"
										placeholder="Мин" class="input">
								</div>
							</div>
							<div class="filters-col">
								<div class="temp">
									<label for="maxSum">Максимальная сумма</label> <input
										type="number" step="0.01" name="maxSum" id="maxSum"
										placeholder="Макс" class="input">
								</div>
							</div>
						</div>
						<div class="filters-row">
							<div class="filters-col">
								<div class="temp">
									<label for="minDate">Начальная дата</label> <input type="date"
										name="minDate" id="minDate" placeholder="От" class="input">
								</div>
							</div>
							<div class="filters-col">
								<div class="temp">
									<label for="maxDate">Конечная дата</label> <input type="date"
										name="maxDate" id="maxDate" placeholder="До" class="input">
								</div>
							</div>
						</div>
						<div class="filters-row">
							<div class="filters-col">
								<button type="submit" class="button">Применить</button>
							</div>
							<div class="filters-col">
								<button form="deleteFilter" type="submit" class="button">Сбросить</button>
							</div>
						</div>
					</form>
					<div id="transactions">
						<div class="transaction"
							th:each="transaction : ${wallet.getTransactions()}">
							<div class="transaction-left">
								<div class="transaction-cat"
									th:text="${transaction.getCategory().getName()}">Category</div>
								<div class="transaction-des"
									th:text="${transaction.getDescription}">Description</div>
							</div>
							<div class="transaction-right">
								<div class="transaction-sum"
									th:style="${transaction.getType() == T(com.zaicev.spring.transactions.models.TransactionType).INCOME} ? 'color : green;' : 'color : red;'"
									th:text="${transaction.getType() == T(com.zaicev.spring.transactions.models.TransactionType).INCOME} ? '+' : '-' + ${transaction.getSum()}">sum</div>
								<div class="transaction-date"
									th:text="${transaction.getStringDate()}">date</div>

							</div>
							<div class="transaction-update">
								<a
									th:href="@{/transaction/{id}/edit(id=${transaction.getId()})}">
									<img class="icon" alt="update" src="/icons/update.svg">
								</a>
							</div>
							<form th:method="DELETE"
								th:action="@{/transaction/{id}(id=${transaction.getId()})}"
								class="transaction-remove">
								<button type="submit">
									<img src="/icons/delete.svg" alt="delete" class="icon">
								</button>
							</form>
						</div>
					</div>
					<button class="show" id="show" style="display: inline-block"
						onclick="loadTransactions(0)">Еще</button>
					<button class="show" id="hide" style="display: none"
						onclick="loadTransactions(5)">Скрыть</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>